@charset "utf-8";
/* CSS Document */
.containers {  
width:100%;
height:100%; 
position:relative;
 margin:0px auto 0px auto !important; 
 padding-top:30px; 
 }
 
.col1-3 { 
 width:24%;  
height:100%;
 margin:0.5% 0.5%;
 float:left;  
 position:relative ;

 }
.overflow, .element {overflow:hidden; }
.images { display:block; position:relative; }
.images img {width:100%; display: block; max-width: 100% !important; z-index:9 }
  .title { font-size:24px; font-weight:400; letter-spacing:0px; -o-text-shadow:-1px -1px 0px rgba(0, 0, 0, 0.25); -moz-text-shadow:-1px -1px 0px rgba(0, 0, 0, 0.25); -webkit-text-shadow:-1px -1px 0px rgba(0, 0, 0, 0.25); text-shadow:1px 1px 0px rgba(0, 0, 0, 0.25); font-family:Montserrat, Georgia, "Times New Roman", Times, serif;  }
 .desc {font-size:11px; display:block; text-transform:uppercase; font-style:normal; font-weight:700; letter-spacing:1px; margin-top:3px; font-family: Montserrat, "Open Sans", Arial, Helvetica, sans-serif; }
.module-galleygrid,div.ppt span {display:none;text-ident:-5000px;}

@media screen and (-webkit-min-device-pixel-ratio:0) {
.col1-3 { height:280px;background-size:cover;}

}

