@charset "utf-8";
/* CSS Document */

	/*----*****---- << Desktop >> ----*****----*/	
	
    /* Note: Design for a width of 768px, Gutter: 30px, Unit: 32px */

    @media only screen and (min-width:960px) and (max-width:1270px) {
	
	
	
	/*----*****---- << Portfolio Page >> ----*****----*/
	
	.portfolio figure img{ transform: translate3d( 0px, 0px, 0px) scale(1.12); -moz-transform: translate3d( 0px, 0px, 0px) scale(1.12); -webkit-transform: translate3d( 0px, 0px, 0px) scale(1.12);}
	.portfolio .fig-content h5 a { font-size: 16px;}
	.portfolio-detail p i{ font-size: 22px; line-height: 38px;}
	.widget .recent-project-widget ul li span a{ font-size: 17px;}
	.portfolio-thumb{ margin: 0 0 20px;}
	.portfolio-detail p{ margin: 0 0 10px;}
	
	
	}

	
	
    /* Note: Design for a width of 768px, Gutter: 30px, Unit: 32px */
	
    @media only screen and (min-width:768px) and (max-width:959px) {
	
	
	
	/*----*****---- << Portfolio Page >> ----*****----*/
	
	.portfolio figure img{ transform: translate3d( 0px, 0px, 0px) scale(1.12); -moz-transform: translate3d( 0px, 0px, 0px) scale(1.12); -webkit-transform: translate3d( 0px, 0px, 0px) scale(1.12);}
	.fig-content span.image-overlay-inside::before{ line-height: 60px; height: 60px; width:60px; left: 60%; top:60%;}
	.fig-content span.image-overlay-inside{ font-size: 18px;}
	.portfolio .fig-content h5 a { font-size: 14px;}
	.breadcrumb.type2 h3 { font-size: 50px;}
	.portfolio-detail p i{ line-height: 38px;}
	.portfolio-detail p{ margin-bottom: 10px;}
	.portfolio-horizontal .fig-content span.image-overlay-inside { font-size: 20px;}
	.portfolio-horizontal .fig-content span.image-overlay-inside::before { height: 80px; left: 50%; line-height: 80px; top: 50%; width: 80px;}
	.portfolio-horizontal .portfolio .fig-content h5 a { font-size: 18px; margin-top: 50px;}
	.widget .recent-project-widget ul li span a{ font-size: 15px;}
	.dt-sc-ico-content h4 { font-size: 17px;}
	
	
	}

	
	
    /* Note: Design for a width of 480px */
	@media only screen and (max-width:767px) {
		
	
	
	/*----*****---- << portfolio Page >> ----*****----*/
	
	.dt-sc-sorting-container a { width: 18%; margin: 0 0 25px; }
	.portfolio.column.no-space.dt-sc-one-half{ width:100%;}
	.portfolio.column.no-space { margin-bottom: 0;}
	.breadcrumb.type2 h3 { font-size: 40px;}
	.portfolio-detail p i{ font-size:22px; line-height: 32px;}
	.portfolio figure img{ transform: translate3d( 0px, 0px, 0px) scale(1.12); -moz-transform: translate3d( 0px, 0px, 0px) scale(1.12); -webkit-transform: translate3d( 0px, 0px, 0px) scale(1.12);}
	.fig-content span.image-overlay-inside::before{ line-height: 60px; height: 60px; width:60px; left: 60%; top:60%;}
	.fig-content span.image-overlay-inside{ font-size: 18px;}
	.portfolio .fig-content h5 a { font-size: 14px;}
	#dt-scroll-content{ min-width: 100%;}
	.dt-sc-portfolio-container > li{ margin-bottom: 0;}
	h5.portfolio-text  {margin:10px 0;font-size:14px; }
	
				
	}
	
	
	/*----*****---- << Mobile >> ----*****----*/	

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (min-width: 320px) and (max-width: 479px) {
		
	
	/*----*****---- << Portfolio page >> ----*****----*/
	
	.dt-sc-sorting-container { margin-bottom:0;}
	.dt-sc-sorting-container a { width: 30%;}
	.portfolio.column.no-space.dt-sc-one-half { width: 100%;}
	.portfolio figure img{ transform: translate3d( 0px, 0px, 0px) scale(1.12); -moz-transform: translate3d( 0px, 0px, 0px) scale(1.12); -webkit-transform: translate3d( 0px, 0px, 0px) scale(1.12);}
	.post-prev-link a.overline-right:hover::after, .post-nav-container .post-prev-link a.overline-right:hover::after{ left: -20px;}
	.post-next-link a.overline-left:hover::after { right: -20px;}	
	
	
	
	}
	
	
	
	
	
	
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 319px) {
	

	.dt-sc-sorting-container { margin-bottom:0;}
	.dt-sc-sorting-container a { font-size: 10px; width: 38%;}
	.portfolio.column.no-space.dt-sc-one-half { width: 100%;}
	.portfolio figure img{ transform: translate3d( 0px, 0px, 0px) scale(1.12); -moz-transform: translate3d( 0px, 0px, 0px) scale(1.12); -webkit-transform: translate3d( 0px, 0px, 0px) scale(1.12);}
	.portfolio-thumb { margin: 0 0 10px;}
	.portfolio-detail p { margin-bottom: 10px;}
	.portfolio-detail p i { font-size: 16px; line-height: 25px;}
	.widget .recent-project-widget ul li span a{ font-size: 16px;}
	.post-prev-link a.overline-right:hover::after, .post-nav-container .post-prev-link a.overline-right:hover::after{ display: none;}
	.post-next-link a.overline-left:hover::after { display: none;}	
	
	
	
}	